.calendar-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-color: #5E2E53;
  margin: 0 auto;
  width: 411px;
  height: 823px;
}
